{% extends 'base.html.twig' %}

{% block title %}
	Car sharing - Home
{% endblock %}

{% block body %}
	<div class="container row row-cols-1 justify-content-center m-auto">
		<div class="card p-4 shadow custom-bg " style="width: 40%;">
			<div class="row row-cols-1 col">
				<div class="col mb-3 text-center">
					<div>
						<h5 class="card-title">Ordina viaggio</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
